* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(92, 92, 255);
}

.top {
    margin: 5% auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.top h1 {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 2%;
    font-size: 30px;
}

.btnWrap {
    flex-basis: 100%;
    text-align: center;
}

.btn {
    font-size: 20px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    gap: 5px;

}

.table div {
    width: 20vw;
    height: 10vh;
}

.win {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 600;
    opacity: 0;
    margin: 0 auto;
}

.time,
.moves,
.lastTime,
.lastMoves {
    flex-basis: 50%;
    text-align: center;
    padding-top: 25px;
}



.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.violet {
    background-color: violet;
}

.cyan {
    background-color: cyan;
}

.indigo {
    background-color: indigo;
}

.orangered {
    background-color: orangered;
}

.white {
    background-color: white;
}



.hidden {
    background-color: rgb(189, 189, 189);
}

.pair {
    background-color: rgb(78, 78, 78);
}