@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(81, 95, 195);
    background: linear-gradient(90deg, rgba(81, 95, 195, 1) 0%, rgba(63, 100, 200, 1) 20%, rgba(82, 141, 255, 1) 80%, rgba(0, 142, 255, 1) 100%);
    font-family: 'Roboto', sans-serif;
}

.top {
    margin: 10% auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.top h1 {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 2%;
    font-size: 30px;
}

.btnWrap {
    flex-basis: 100%;
    text-align: center;
}

.btn {
    font-size: 20px;
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid white;
}

.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    gap: 5px;

}

.table div {
    width: 20vw;
    height: 10vh;
}

.win {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 600;
    display: none;
    margin: 20% auto;
}

.time,
.moves,
.lastTime,
.lastMoves {
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center;
    padding-top: 25px;
}



.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.violet {
    background-color: violet;
}

.cyan {
    background-color: cyan;
}

.indigo {
    background-color: indigo;
}

.saddlebrown {
    background-color: saddlebrown;
}

.white {
    background-color: white;
}

.hidden {
    background-color: rgb(224, 224, 224);
}

.pair {
    background-color: rgb(78, 78, 78);
}

@media (min-width: 640px) and (orientation: landscape) {
    .top {
        margin: 1% auto;
        width: 90%;
    }

    .table {
        width: 85%;
    }

    .table div {
        width: 16vw;
        height: 14vh;
    }

    .win {
        margin: 10% auto;
        font-size: 30px;
        font-weight: 600;
    }

    .time,
    .moves,
    .lastTime,
    .lastMoves {
        flex-basis: 25%;
        padding-top: 15px;
    }
}